@import "tailwindcss";

@font-face {
  font-display: swap;
  font-family: "PolySans"; 
  src: url("./assets/fonts/PolySans-Bulky.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-display: swap;
  font-family: "Gilroy";
  src: url("./assets/fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Gilroy", sans-serif;
}
.font-PolySans {
  font-family: "PolySans", sans-serif;
}

* {
  box-sizing: border-box;
  line-height: normal;
}
