@import "tailwindcss";

@font-face {
  font-display: swap;
  font-family: "PolySans"; 
  src: url("./assets/fonts/PolySans-Bulky.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-display: swap;
  font-family: "Gilroy";
  src: url("./assets/fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: 400;
}

* {
  box-sizing: border-box;
  line-height: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Gilroy", sans-serif;
}

.font-PolySans {
  font-family: "PolySans", sans-serif;
}

@keyframes modalIn {
  0% {
    opacity: 0;
    transform: scale(0.9) translateY(10px);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0px);
  }
}
.animate-modalIn {
  animation: modalIn 0.35s ease-out forwards;
}
